html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* *********** SPECIFIC STYLING *********** */
h1 {
  display: block;
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: .875rem;
}

div .author {
  font-style: italic;
}

img {
  max-width: 100px;
}

.card-1 {
  background-color: #e2e2e2;
}

.card-2 {
  background-color: #ccc;
}

.card-3 {
  background-color: #aaa
}

.card-4 {
  background-color: #999;
}

/* *********** CONTENT PLACEMENT *********** */
.cards {
  display: flex;
  flex-direction: row;
}
